.container
  .row
    .col-md-3
      h3 Due within 3 days...
      ul
        - @due_three_days.each do |task|
          li
            = task
    .col-md-9
      h2 My List(s)
      - if current_user
        table.table.table-striped.table-hover
          th List Name
          th Task Count
          - @my_lists.each do |list|
            tr
              td #{link_to list.name, list}
              td #{list.tasks.where(expired: false, status: false).count}
        = render partial: 'form'
      - else
        p
          You need to #{link_to "Sign In", new_user_session_path} to view your list(s).
