<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Due within 3 days...</h3>
      <ul>
        <li>task</li>
        <li>task</li>
        <li>task</li>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>My List(s)</h2>
      <% if current_user %>
      <table class="table table-striped">
        <th>List Name</th>
        <th>Task Count</th>
        <% @my_lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td>5 - (placeholder)</td>
        </tr>
        <% end %>
      </table>
      <% else %>
        <p>
          You need to
          <%= link_to "Sign In", new_user_session_path %>
          to view your list(s).
        </p>
      <% end %>
    </div>

    </div>
</div>
