<div class="container">
  <div class="row">
    <h3>A new kind of TODO List</h3>
    <p>
      Task list are lame. They get so cluttered that you end up not comming back
      and doing what you actually need to do. Task sit there and you feel like
      a failure for not completing all your task.
    </p>
    <p>
      Research shows (and I mean I make it up). That
    </p>    
  </div>

</div>
