.container
  .row
    .col-md-4
      h2 Create as many list as you like.
      p Add tasks to your list as you like.

    .col-md-4
      h2 Complete your must
      p
        There is only so much time. Looking at long list can be too much.
        Task will self destruct after 7 days.

    .col-md-4
      h2 Discover what matters
      p
        Get a weekly email of what you acomplished. Nottice any patterns?
        Stop focusing on what you thought was important.
