<div class="jumbotron">
  <h1>Task it Off</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Add a task</h1>
      <p>
        Add tasks to your list.
      </p>
    </div>

    <div class="col-md-4">
      <h2>Complete your must</h2>
      <p>
        There is only so much time. Looking at long list can be too much.
        Task will self destruct after 7 days.
      </p>
    </div>

    <div class="col-md-4">
      <h2>Discover what matters</h2>
      <p>
        Get a weekly email of what you acomplished. Nottice any patterns?
        Stop focusing on what you thought was important.
      </p>
    </div>

  </div>

</div>
